<center><h1>LIBROS</h1></center>

<table id="datatable_books" class="table table-striped">
 <thead>
  <tr>
   <th>Nombre</th>
   <th>Autor</th>
   <th>Editorial</th>
   <th>Precio</th>
   <th>Categoria</th>
   <th>Proveedor</th>
   <th></th>
   <th></th>
   <th></th>
  </tr>
 </thead>

 <tbody>
  <% @articles.each do |articles| %>
    <tr>
      <td><%= articles.nombrelibro %></td>
      <td><%= articles.autor %></td>
      <td><%= articles.editorial %></td>
      <td><%= articles.precio %></td>
      <td><%= articles.category.nombre %></td>
      <td><%= articles.provider.razonsocial %></td>
      
       <td><%= link_to 'Show', articles %></td>
        <td><%= link_to 'Edit', edit_book_path(articles) %></td>
        <td><%= link_to 'Destroy', articles, method: :delete, data: { confirm: 'Are you sure?' } %>
     
       </td>
   </tr>
  <% end %>
 </tbody>
</table>

<%= link_to 'New Book', new_book_path %>